이제는 알바천국을 조진다.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('albamon.csv',encoding='CP949')

In [6]:
df2 = pd.read_csv('albaheaven.csv',encoding='cp949')

In [10]:
df3 = df.append(df2)

In [11]:
df3

,지역,근무회사,근무시간,급여,올린시간,알바설명
0,시흥시 월곶동,경춘선춘천닭갈비,05:00~09:00,"9,000원",07/14,함께일할 직원 구합니다.
1,시흥시 정왕동,나래인력,09:00~18:00,"8,720원",07/14,화장품 회사 / 남자 / 8시간 근무 / 휴학생 환영
2,시흥시 전체,정가네과일야채,08:30~22:00,"9,000원",07/14,정가네과일야채 에서 일요일 알바 모집합니다
3,시흥시 정왕동,도미노피자,시간협의,"8,720원",07/14,도미노피자 배곧점에서 피자메이커 모집합니다
4,시흥시 은행동,이마트24 시흥금오로점,08:00~15:00,"8,720원",07/14,E금오로점 주말오전 8시부터 15시까지(문자지원하세요
...,...,...,...,...,...,...
106,시흥시 신천동,7080라이브,19:00~22:00 (협의가능),"시급10,000",07/11,시급1만원+알파홀서빙 (여)직원 모집합니다.
107,시흥시 정왕동,에스바,18:00~03:00 (협의가능),"시급30,000",06/27,"배곧신도시 에스바 직원,알바/1일근무가능 당일지급 대학생단기 알바환영"
108,시흥시 신천동,배달시대&amp;부릉,00:00~24:00 (협의가능),"건별3,100",07/06,"시흥-신청 부릉 기사, 배달 대행 기사 모집"
109,시흥시 은행동,하루키친,10:00~17:00 (협의가능),"시급8,720",07/14,하루키친 반찬가게 모집
110,시흥시 은행동,김밥천국 은행사거리점,"22:00~10:00 (로테이션,협의가능)","시급8,720",07/14,【추천 / 근무환경 좋음 】야간주방/ 홀써빙/주방보조 (김밥집경력자) 구함